@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-footer,
.bg-primary-gradient{
  background: linear-gradient(267.23deg, #67D6E4 0%, #22B0C3 100%);
}

.text-primary-gradient{
  background: linear-gradient(267.23deg, #67D6E4 0%, #22B0C3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-primary-gradient:hover{
  background: linear-gradient(267.23deg, #BEEDF4 0%, #67D6E4 100%);
}

@layer base{
  main{
    @apply bg-background w-full h-full
  };
}

input:not(:focus):not(:placeholder-shown):invalid~label {
  --tw-text-opacity: 1;
  color: rgb(232 130 125 / var(--tw-text-opacity));
}

textarea:not(:focus):not(:placeholder-shown):invalid~label {
  --tw-text-opacity: 1;
  color: rgb(232 130 125 / var(--tw-text-opacity));
}

/* Test for delete: */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
